<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-danger py-3">Manage the Categories and Themes </h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="listCategories" class="btn btn-info">List Categories</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="listThemes" class="btn btn-info">List Themes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
