<app-category></app-category>
<div class="card my-5">
  <div class="card-body">
    <p>CATEGORIES LIST</p>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Edit Category</th>
        <th scope="col">Delete Category</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of categories">
        <td> {{ category.id }}</td>
        <td> {{ category.name }}</td>
        <td>
          <a (click)="editCategory()" class="btn btn-info">Edit</a>
        </td>
        <td>
          <a (click)="removeCategory(category)" class="btn btn-info">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  <label>New Category name:
    <input #newCategoryName />
  </label>
  <button (click)="addCategory(newCategoryName.value); newCategoryName.value=''">
    add
  </button>
</div>
<router-outlet></router-outlet>
