<h1 class="text-center">{{title}}</h1>
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <div class="card bg-dark my-5">-->
<!--        <div class="card-body">-->
<!--          <h2 class="card-title text-center text-white py-3">Manage for admin </h2>-->
<!--          <ul class="text-center list-inline py-3">-->
<!--            <li class="list-inline-item">-->
<!--              <a routerLink="users" class="btn btn-info">Manage Users</a>-->
<!--            </li>-->
<!--            <li class="list-inline-item">-->
<!--              <a routerLink="products" class="btn btn-info">Manage Products</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<app-admin-home></app-admin-home>
<!--<router-outlet></router-outlet>-->

