<app-category></app-category>
<div class="card my-5">
  <div class="card-body">
    <h4>THEMES LIST</h4><br>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Name</th>
        <!--<th scope="col">Edit Theme</th>-->
        <!--<th scope="col">Delete Theme</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let theme of themes">
        <td> {{ theme.id }}</td>
        <td> {{ theme.name }}</td>
        <td>
          <button class="btn btn-success" [routerLink]="['edit',theme.id]">EDIT</button>
        </td>
        <td>
          <button class="btn btn-success" (click)="deleteSubmit(theme)">DELETE</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  <form>
    <label>Add a new Theme :
      <input #newThemeName/>
    </label>
    <button (click)="addSubmit(newThemeName.value); newThemeName.value=''">Submit</button>
  </form>
</div>
<router-outlet></router-outlet>
