<app-category></app-category>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Category Name</label>
        <input type="text" class="form-control"
               formControlName="name"
               #name/>
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Category Name is required.
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="createCategory(name.value); name.value=''"
                [disabled]="angForm.pristine || angForm.invalid">Create Category</button>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
