<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <!--        <th scope="col">User Name</th>-->
        <th scope="col">User</th>
        <th scope="col">Product</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{transaction.id}}</td>
        <td>{{transaction.user.email}}</td>
        <td>{{transaction.product.title}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
