<div class="card my-5">
  <div class="card-body">
    <h4>TRANSACTION HISTORY</h4><br>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">N°</th>
        <!--<th scope="col">User Name</th>-->
        <th scope="col">User</th>
        <th scope="col">Product</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{transaction.id}}</td>
        <td>{{transaction.user.email}}</td>
        <td>{{transaction.product.title}}</td>
        <td>
          <button class="btn btn-success" (click)="onSelectTransaction(transaction)">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="selectedTransaction">
  <h4>Details of the Transaction n°{{selectedTransaction.id}}</h4><br>
  <ul>
    <li>
      <a>Category of product : {{selectedTransaction.product.category.name}}</a><br>
    </li>
    <li>
      <a>Name of product : {{selectedTransaction.product.title}}</a><br>
    </li>
    <li>
      <a>Price of product : {{selectedTransaction.product.price}} $</a><br>
    </li>
    <li>
      <a>Username of customer : {{selectedTransaction.user.email}}</a>
    </li>
  </ul>
</div>


