<!--<h2>{{user.userName}} Details</h2>-->
<!--<div><span>id: </span>{{user.id}}</div>-->
<!--<div><span>name: </span>{{user.userName}}</div>-->
<!--<div><span>email: </span>{{user.email}}</div>-->
<!--<div><span>password: </span>{{user.password}}</div>-->

<!--<div>-->
<!--  <label>name:-->
<!--    <input [(ngModel)]="user.userName" placeholder="name"/>-->
<!--  </label>-->
<!--</div>-->

<!--<div>-->
<!--  <label>User email:-->
<!--    <input #Useremail />-->
<!--  </label>-->
<!--  &lt;!&ndash; (click) passes input value to add() and then clears the input &ndash;&gt;-->
<!--  <button (click)="add(heroName.value); heroName.value=''">-->
<!--    add-->
<!--  </button>-->
<!--</div>-->

<p>message</p>
<!--<app-user-list [users]="user"></app-user-list>-->


