<app-theme></app-theme>
<div class="card my-5">
  <div class="card-body">
    <h4>EDITING THEME</h4><br>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Name</th>
        <!--<th scope="col">Save</th>-->
        <!--<th scope="col">Return to the list</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="theme">
        <td> {{ theme.id }}</td>
        <td><input [(ngModel)]="theme.name" placeholder="{{ theme.name }}"/></td>
        <td>
          <button (click)="saveTheme()" class="btn btn-success">Save edit</button>
        </td>
        <td>
          <button (click)="goBack()" class="btn btn-success">Return list themes</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>

